/*  
    a:link {color: #af670a}
    a:hover:{color: #227115}
    nav ul li a:hover{border-bottom color: #535858}

*/

@keyframes link{
    from {
        letter-spacing: 0px;
    }

    to{
        letter-spacing: 3px;
    }
}

header{
    background-image: url(../img/fundo.png) ;
    background-repeat: repeat-x;
    height: 500px;

}

header img{
    padding-top: 40px;
    padding-left: 100px;
}

header nav {
    float: right;
    padding-top: 40px;
    padding-right: 150px;
}

header nav a{
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px;

}

header nav a:active{
    color: #227115;

}
header nav a:hover{
    color: #af670a;
    text-decoration: underline;
    animation: link 0.7s 0.1s 1 alternate forwards;

}
